html,
body {
  margin: 0;
}

.container {
  font: 21px 'Courier new', monospace;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

textarea,
input,
button {
  background: none;
  font: inherit;
}

textarea {
  background-image: linear-gradient(transparent 1.23em, #949482 1px);
  background-repeat: repeat;
  background-size: 1px 1.3em;
  line-height: 1.3em;
  outline: none !important;
  resize: none !important;
  width: 100%;
  padding-bottom: 0.3em;
  border: none;
}

input[type="number"],
input[type="text"] {
  border: 0px solid #ABABAB;
  border-bottom-width: 0.1em;
  outline: none !important;
  display: inline-block;
}

button {
    border: 0.1em solid #ABABAB;
    padding: 0.5em 0.1em;
}


.group {
    padding: 1em 0;
}

.group-setup-numplayers {
    display: flex;
}

#setup-numplayers {
    width: 3em;
    margin: 0 1em;
    text-align: center;
}


#reveals {
    display: flex;
}

.reveal {
    flex-grow: 1;
    margin: 0 0.4em;
}

#console {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reveal.viewed {
    background: #E4E4E4;
}